@import '~antd/dist/antd.css';  --dashboard css

html, body 
{
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url(./Images/app-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form_block
{
    padding-top: 10%;
}

.form-signin
{
    margin: 0 auto;
    width: 30%;
}

.logo
{
    margin-bottom: 5%;
}

.btn-login:hover
{
    transition: .7s;
    background-color: #fc7f8c;
    color: #ffffff;
}

.btn-signup:hover
{
    transition: .7s;
    background-color: #535464;
    color: white;
}

._homePage
{
    text-align: center;
    margin-top: 5%;
}

._Title
{
    color: #fc7f8c;
}

._subTitle 
{
    margin-top: 5%;
    margin-bottom: 5%;
}

.home-btn-one
{
    width: 20%;
}